
.container {
    width: 100%;
    height: 100%;
}



.header-container {

    background-color: #8594a8;
    
}

.logo{
    padding-left: 80px;
    font-size: 24px;
    color: #f9faf8;
}

.menu-items {
    padding-right: 80px;
    padding-left: 20px;
    font-size: 18px;
    display: flex;
    gap: 20px;
    
}

header {
    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }